<div class="dashboard__menu-container">
  <aside class="dashboard__sidebar">
    <div class="dashboard__logo">
      <svg
        class="dashboard__logo-icon"
        width="37"
        height="37"
        aria-label="dashboard icon"
      >
        <use href="./img/sprite.svg#icon-setting" />
      </svg>
      <h2 class="dashboard__logo-text">
        Dashboard <span class="dashboard__logo-version">v.01</span>
      </h2>
      <button
        class="dashboard__close-btn"
        aria-label="Close mobile menu button"
      >
        <svg class="dashboard__close-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-x-black"></use>
        </svg>
      </button>
    </div>
    <nav class="dashboard__nav">
      <ul class="dashboard__nav-list">
        <li class="dashboard__nav-item">
          <a
            class="dashboard__nav-link"
            href="https://glivera-team.com/"
            target="_blank"
          >
            <svg
              class="dashboard__nav-icon stroke-only"
              width="24"
              height="24"
              aria-label="dashboard icon"
            >
              <use href="./img/sprite.svg#icon-dashboard"></use>
            </svg>
            <span class="dashboard__nav-text">Dashboard</span>
          </a>
        </li>
        <li class="dashboard__nav-item">
          <a
            class="dashboard__nav-link"
            href="https://glivera-team.com/"
            target="_blank"
          >
            <svg
              class="dashboard__nav-icon fill-only"
              width="24"
              height="24"
              aria-label="product icon"
            >
              <use href="./img/sprite.svg#icon-product"></use>
            </svg>
            <span class="dashboard__nav-text">Product</span>

            <svg
              class="dashboard__nav-icon-right stroke-only"
              width="16"
              height="16"
              aria-label="arrow icon"
            >
              <use href="./img/sprite.svg#icon-chevron-right"></use></svg
          ></a>
        </li>
        <li class="dashboard__nav-item">
          <a
            class="dashboard__nav-link"
            href="https://glivera-team.com/"
            target="_blank"
          >
            <svg
              class="dashboard__nav-icon fill-only stroke-only"
              width="24"
              height="24"
              aria-label="customers icon"
            >
              <use href="./img/sprite.svg#icon-customers"></use>
            </svg>
            <span class="dashboard__nav-text">Customers</span>

            <svg
              class="dashboard__nav-icon-right stroke-only"
              width="16"
              height="16"
              aria-label="arrow icon"
            >
              <use href="./img/sprite.svg#icon-chevron-right"></use></svg
          ></a>
        </li>
        <li class="dashboard__nav-item">
          <a
            class="dashboard__nav-link"
            href="https://glivera-team.com/"
            target="_blank"
          >
            <svg
              class="dashboard__nav-icon stroke-only"
              width="24"
              height="24"
              aria-label="income icon"
            >
              <use href="./img/sprite.svg#icon-income"></use>
            </svg>
            <span class="dashboard__nav-text">Income</span>

            <svg
              class="dashboard__nav-icon-right stroke-only"
              width="16"
              height="16"
              aria-label="arrow icon"
            >
              <use href="./img/sprite.svg#icon-chevron-right"></use></svg
          ></a>
        </li>
        <li class="dashboard__nav-item">
          <a
            class="dashboard__nav-link"
            href="https://glivera-team.com/"
            target="_blank"
          >
            <svg
              class="dashboard__nav-icon fill-only"
              width="24"
              height="24"
              aria-label="promote icon"
            >
              <use href="./img/sprite.svg#icon-promote"></use>
            </svg>
            <span class="dashboard__nav-text">Promote</span>

            <svg
              class="dashboard__nav-icon-right stroke-only"
              width="16"
              height="16"
              aria-label="arrow icon"
            >
              <use href="./img/sprite.svg#icon-chevron-right"></use></svg
          ></a>
        </li>
        <li class="dashboard__nav-item">
          <a
            class="dashboard__nav-link"
            href="https://glivera-team.com/"
            target="_blank"
          >
            <svg
              class="dashboard__nav-icon fill-only"
              width="24"
              height="24"
              aria-label="help icon"
            >
              <use href="./img/sprite.svg#icon-help"></use>
            </svg>
            <span class="dashboard__nav-text">Help</span>

            <svg
              class="dashboard__nav-icon-right stroke-only"
              width="16"
              height="16"
              aria-label="arrow icon"
            >
              <use href="./img/sprite.svg#icon-chevron-right"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <div class="dashboard__user">
      <img
        class="dashboard__user-img"
        srcset="./img/avatar.jpg 1x, ./img/avatar@2x.jpg 2x"
        width="42"
        height="42"
        alt="user avatar"
      />
      <div class="dashboard__user-info">
        <h3 class="dashboard__user-name">Evano</h3>
        <p class="dashboard__user-role">Project Manager</p>
      </div>
    </div>
  </aside>
</div>
