@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/poppins-regular.ttf') format('truetipe');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/poppins-medium.ttf') format('truetipe');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/poppins-semibold.ttf') format('truetipe');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #f9fbff;
}
.dashboard {
  height: 100%;
  min-width: 375px;
  margin: 0 auto;
  display: flex;
  background-color: #f9fbff;
}
